
body {
	 background-image: url('milky.jpg');
	 background-repeat: no-repeat;
	 background-size: cover;
	 margin:0px; padding:5px;
	 height: 90vh;
	 font-family: 'Rajdhani', sans-serif;
}
.title{
	font-family: 'Bungee Shade', cursive;
	font-size: 60px;
	color:#95b7b7;
	letter-spacing: 5px;
	text-align: center;
}

#start {
	padding:10px;
	background:rgba(163, 194, 194,0.5);
	font-family: 'Rajdhani', sans-serif;
	border:none;
	color:#fff;
	border-radius: 3px;
	margin:0 auto;
	display:block;
}

.blue {
	   	position:absolute;
 	   	left:0px;
	    top:0px;
	    width:80px;
	    padding:10px;
	    font-size:20px;
	    z-index: 5;

}

.red {
	   	position:absolute;
      left:0px;
		  top:200px;
			width:80px;
			padding:10px;
			font-size:20px;
			z-index: 5;

}

.rotated {
	  -webkit-transform: rotate(90deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(90deg);      /* to support IE 9 */
    transform: rotate(90deg);
}

#finish-line {}
#playground{
	 min-height: 510px;
	 max-width: 1400px;
	 margin:50px 50px 100px 200px;
   position:relative;
	 border-right:dotted 5px #ffdd99;
}
#info-bar {
	width:80%;
	margin:0 auto;
	min-height:100px;
/*	border:1px solid white;*/
	padding:20px 40px;
}
#timer {
	float:left;
	color:#fff;
	font-size: 40px;
}
.scores{
	border:solid 1px blue;
	float:right;
	color:red;
}
